.header_logo {
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 70px;
    width: 250px;
}
